@model IEnumerable<Travelancar.Models.PenerbanganAll>
@{
    ViewBag.Title = "DaftarPenerbangan";
}

<h2>DaftarPenerbangan</h2>
<table class="table">
    <tr>
        <td>Nama Maskapai</td>
        <td>Kota Asal</td>
        <td>Kota Tujuan</td>
        <td>Tanggal Penerbangan</td>
        <td>Jam Keberangkatan</td>
        <td>Harga Total</td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        if (item.id_penerbangan != 0 && item.kota_asal != "NULL")
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nama_maskapai)</td>
                <td>@Html.DisplayFor(modelItem => item.kota_asal)</td>
                <td>@Html.DisplayFor(modelItem => item.kota_tujuan)</td>
                <td>@Html.DisplayFor(modelItem => item.tanggal_keberangkatan)</td>
                <td>@Html.DisplayFor(modelItem => item.jam_keberangkatan)</td>
                <td>@Html.DisplayFor(modelItem => item.harga)</td>
                <td><input type="submit" value="Pesan" class="btn btn-primary" /></td>
            </tr>
        }
    }

</table>

