@model Travelancar.Models.findTiket

@{
    ViewBag.Title = "ListPenerbangan";
}

<h2>ListPenerbangan</h2>


@{
    List<SelectListItem> listKota = new List<SelectListItem>();
    listKota.Add(new SelectListItem
    {
        Text = "Medan",
        Value = "Medan"
    });
    listKota.Add(new SelectListItem
    {
        Text = "Jakarta",
        Value = "Jakarta",
        Selected = true
    });
    listKota.Add(new SelectListItem
    {
        Text = "Surabaya",
        Value = "Surabaya"
    });
    listKota.Add(new SelectListItem
    {
        Text = "Bali",
        Value = "Bali"
    });
}

@{
    List<SelectListItem> listTujuan = new List<SelectListItem>();
    listTujuan.Add(new SelectListItem
    {
        Text = "Medan",
        Value = "Medan",
        Selected = true
    });
    listTujuan.Add(new SelectListItem
    {
        Text = "Jakarta",
        Value = "Jakarta"
    });
    listTujuan.Add(new SelectListItem
    {
        Text = "Surabaya",
        Value = "Surabaya"
    });
    listTujuan.Add(new SelectListItem
    {
        Text = "Bali",
        Value = "Bali"
    });
}

@{
    List<SelectListItem> listPenumpang = new List<SelectListItem>();
    listPenumpang.Add(new SelectListItem
    {
        Text = "1 Orang",
        Value = "1",
        Selected = true
    });
    listPenumpang.Add(new SelectListItem
    {
        Text = "2 Orang",
        Value = "2"
    });
    listPenumpang.Add(new SelectListItem
    {
        Text = "3 Orang",
        Value = "3"
    });
}

<div class="container login-container login-form-1 ">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>CariTiket</legend>

            <div class="editor-label">
                <strong><h5>Kota Asal :</h5></strong>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.kotaAsal, listKota, "--Pilih Kota Asal--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kotaAsal)
            </div>

            <div class="editor-label">
                <strong><h5>Kota Tujuan :</h5></strong>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.kotaTujuan, listTujuan, "--Pilih Kota Tujuan---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kotaTujuan)
            </div>

            <div class="editor-label">
                <strong><h5>Tanggal Keberangkatan :</h5></strong>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.tanggalBerangkat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tanggalBerangkat)
            </div>

            <div class="editor-label">
                <strong><h5>Jumlah Penumpang :</h5></strong>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.jumlahPenumpang, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.jumlahPenumpang)
            </div>
            <br /><br />
            <p>
                <input type="submit"  class="btnSubmit" value="Cari Tiket" />
            </p>
        </fieldset>
    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


